.field {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.btn {
  box-sizing: border-box;
  width: 180px;
  height: 64px;
  border: 1px solid #E5B8F4;
  border-radius: 3cqh;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #810CA8;
  color: #E5B8F4;
  align-self: center;
  transition: 400ms;
}

.btn:hover {
  background-color: #E5B8F4;
  color: #810CA8;
  box-shadow: rgba(229, 184, 244, 0.56) 0px 0px 10px 5px;
  cursor: pointer;
}
